In [14]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sorts age list in ascending order by default
ages.sort()
print ("Sorted age:", ages) # Displays sorted values
# Minimum age
# Displays min value as we used min() method
print ("Min:", min(ages))
# Maximum age
# Displays max value as we used max() method
print ("Max:", max(ages))
# Adding again min and max values so we use append() method to insert values to the list
ages.append(min(ages))
ages.append(max(ages))
print ("Added min and max values again:",ages) #Displays the list again with new values
''' Median (one middle item or two middle items divided by two, as we imported statistics library it calculates 
easily and provides the opt)'''
mdn_age = statistics.median(ages)
print ("Median:", mdn_age)
# Average age
average= sum(ages)/len(ages)
print ("Avg = ", average)
# Range
rng=max(ages)-min(ages)
print ("Range = ", rng)

Sorted age: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min: 19
Max: 26
Added min and max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median: 24.0
Avg =  22.75
Range =  7

In [3]:
dog = {'name':'johny','color':'black','breed':'german shepard','legs':'4','age':'5'}
print ("Dog Dictionary Created:",dog)
# Student dictionary is created with given key and values
student ={'first_name':'joshi','last_name':'paul','Gender':'male','age':'22','marital_status':'single',
'skills':['comedian'],'Country':'India','City':'Kakinada','Address':'192-168-0-1'}
print ("Student Dictionary Created:",student)
# Find the length of student dictionary
print ("Length of student:", len(student))
# Check the datatype of skills
print ("Datatype of skills:",type(student['skills']))
#Modify the skills values by adding one or two skills
student['skills'].append("Gaming")
student['skills'].append("coding")
#Get the dictionary keys as a list
skeys=[]
for i in student.keys():
 skeys.append(i)
print(skeys)
#Get the dictionary values as a list
sval=[]
for i in student.values():
 sval.append(i)
print(sval)

Dog Dictionary Created: {'name': 'johny', 'color': 'black', 'breed': 'german shepard', 'legs': '4', 'age': '5'}
Student Dictionary Created: {'first_name': 'joshi', 'last_name': 'paul', 'Gender': 'male', 'age': '22', 'marital_status': 'single', 'skills': ['comedian'], 'Country': 'India', 'City': 'Kakinada', 'Address': '192-168-0-1'}
Length of student: 9
Datatype of skills: <class 'list'>
['first_name', 'last_name', 'Gender', 'age', 'marital_status', 'skills', 'Country', 'City', 'Address']
['joshi', 'paul', 'male', '22', 'single', ['comedian', 'Gaming', 'coding'], 'India', 'Kakinada', '192-168-0-1']

In [29]:
my_sisters = ('vindhya', 'Sindhu','kavya','Shilpa')
my_brothers = ('Pavan','Santhosh','Prasanth','Ganesh')
# Create another tuple as siblings and join the sister’s and brother’s tuple
siblings = my_sisters + my_brothers
# Displays siblings’ output and length of siblings
print("Siblings:", siblings)
print("Length of Siblings:", len(siblings))
# Create another tuple as family_members and add father and mother name to it
family_members = siblings + ('Baburao','Mary')
# Displays family_members output
print("Family_members:",family_members)

Siblings: ('vindhya', 'Sindhu', 'kavya', 'Shilpa', 'Pavan', 'Santhosh', 'Prasanth', 'Ganesh')
Length of Siblings: 8
Family_members: ('vindhya', 'Sindhu', 'kavya', 'Shilpa', 'Pavan', 'Santhosh', 'Prasanth', 'Ganesh', 'Baburao', 'Mary')

In [18]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of it_companies:", len(it_companies))
#Add twitter
it_companies.add('Twitter')
print("After adding another item:",it_companies)
#Add multiple it_companies
it_companies.update({'Infosys','cognizent','meta','tesla'})
print("After adding multiple items:",it_companies)
#Remove
it_companies.remove('TCS')
print("After removing one company:",it_companies)
#Discard
it_companies.discard('TCS')
print("After discarding company:",it_companies)
#Discard doesn't raise any error if any item is not present in the set
#Join A & B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("Join A and B:", A.union(B))
#Intersection
print("Intersection of A and B:", A.intersection(B))
#Subset
print("Subset of A and B:", A.issubset(B))
#Disjoint
print("Disjoint:", A.isdisjoint(B))
#Convert list to set
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Converting list to set:", set(age))
#Length of set
print("Length of set:",len(set(age)))
#Length of list
print("Length of list:",len(age))
#Symmetric diff- returns values which are not in common with other set
print("Symmetric diff:",A.symmetric_difference(B))
#delete set
A.clear()
print(A)
B.clear()
print(B)

Length of it_companies: 7
After adding another item: {'Microsoft', 'Apple', 'Oracle', 'IBM', 'Amazon', 'Google', 'Facebook', 'Twitter'}
After adding multiple items: {'Apple', 'Oracle', 'Infosys', 'IBM', 'Amazon', 'Wipro', 'TCS', 'Capgemini', 'Microsoft', 'Google', 'Facebook', 'Twitter'}
After removing one company: {'Apple', 'Oracle', 'Infosys', 'IBM', 'Amazon', 'Wipro', 'Capgemini', 'Microsoft', 'Google', 'Facebook', 'Twitter'}
After discarding company: {'Apple', 'Oracle', 'Infosys', 'IBM', 'Amazon', 'Wipro', 'Capgemini', 'Microsoft', 'Google', 'Facebook', 'Twitter'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Subset of A and B: True
Disjoint: False
Converting list to set: {19, 22, 24, 25, 26}
Length of set: 5
Length of list: 8
Symmetric diff: {27, 28}
set()
set()

In [19]:
# Initialise r where r value can be read from user inpt
r = int(input("enter r:"))
# Calculate area of circle and circumference of circle
_area_of_circle = 3.14*r*r
_circum_of_circle = 2*3.14*r
# Display area of circle and circumference of circle
print("Area of Circle:",_area_of_circle)
print("Circumference of Circle:",_circum_of_circle)

enter r:30
Area of Circle: 2826.0
Circumference of Circle: 188.4

In [21]:
# Unique
st = "I am a teacher and I love to inspire and teach people"
# Use split method to separate the words and set to get the unique values
spt=set(st.split(" "))
print(spt)
print ("Length:",len(spt))

{'I', 'love', 'inspire', 'to', 'a', 'teacher', 'people', 'and', 'am', 'teach'}
Length: 10

In [23]:
a= "Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki"
print(a)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [26]:
#Using String format method
r = 10
area = 3.14*r**2
print(f'radius = {r}')
print(f'area = {area}')
print(f'"The area of circle with radius {r} is {area} meters square"')

radius = 10
area = 314.0
"The area of circle with radius 10 is 314.0 meters square"

In [28]:
#Creating a list(L1) for weights(lbs) of N students
L1=[int(num) for num in input().split(" ")]
#Creating another list called W_kg
W_kg=[]
#Using for loop to iterate the values and appending the list
for i in L1:
 W_kg.append(round(i/2.205,2))
#Displaying the values in kgs after conversion
print ("Values are:",W_kg)

150 155 145 148
Values are: [68.03, 70.29, 65.76, 67.12]